#himage{
    height:200vh;
    width: 100%;
}

#dimage{
    height:40vh;
    width: 50%;
}

.intro-text{
    width:30%;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s all ease-in-out;
}

.intro-appear{
    opacity: 1;
    transform: translateY(0px);
}

